//Box Sizing by Default - http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
	position    : relative;
	height      : 100%;
	font-family : 'Open Sans';
}