// Screen Widths
@small-max-width   : 320px;
@medium-min-width  : 321px;	//mobile
@medium-max-width  : 529px;
@large-min-width   : 530px;	//tablets
@large-max-width   : 949px;
@xlarge-min-width  : 949px;
@xlarge-max-width  : 1129px;
@xxlarge-min-width : 1130px;

//Animation Related Stuff
@animation-time-default  : 0.25s;
@animation-easing        : ease-in-out;

@border-radius-default : 2px;