{{partial 'partials/side_nav'}}
<div id='main-content'>
	<div id='app-header' class='header-item'>
		<i id='side-nav-toggle' class='fa fa-bars' {{action 'toggleSideNav'}}></i>
		{{header_text}}
	</div>
	{{outlet}}
</div>
