#profiles-list {
	height         : 100%;
	overflow-y     : auto;
	padding-bottom : @header-height;
	padding-left   : 1%;
	background     : @dark-white;
	>.profile {
		background : inherit;
		position   : relative;
		margin     : 1% 1% 0 0;
		>.image-box {
			position    : relative;
			width       : 100%;
			padding-top : 100%;
			.no-overflow;
		}
		>.profile-info {
			margin-top : 10px; 
			font-size  : @small-text;
			line-height: @small-text+2;
			>.name { font-weight: 600; }
			>.handle { 
				color      : @text-grey; 
				margin-top : 2px; 
				font-size  : @small-text - 1;
			}
		}
		>.profile-link {
			display : block;
			z-index : 3;
			.position(absolute,4%,4%,4%,4%);
		}
	}
	
	.hover-text {.position(absolute)}

	.profile-pic {
		border-radius : 3px;
		height        : 64px;
		width         : 64px;
		border        : 1px solid #fff;
		z-index       : 2;
		.rounded-box(3px);
	}

	.blur-background {
		background-size     : cover;
		background-position : center;
		.filter(20px);
		.position(absolute,0,0,0,0);
	}
	.blur-content { 
		background : rgba(0,0,0,0.50);
		.position(absolute,0,0,0,0); 
		.rounded-box(3px); 
	}
}

@media (min-width: 1024px){
	#profiles-list >.profile { width  : 19%; }
}

@media (max-width:1023px) and (min-width:801px) {
	#profiles-list >.profile { width  : 24%; }
}

@media (max-width:800px) and (min-width:500px) {
	#profiles-list {
		padding-left : 2.33%;
		>.profile { 
			width  : 31%;
			margin : 2.33% 2.33% 0 0;
		}
	}	
}
@media (max-width:499px) and (min-width:280px) {
	#profiles-list {
		padding-left : 2%;
		>.profile { 
			width  : 48%;
			margin : 2% 2% 0 0;
		}
	}	
}