#profiles-list {
	height         : 100%;
	overflow-y     : auto;
	padding        : 0.75%;
	padding-bottom : @header-height;
	background     : @dark-white;
	>.profile.twitter {
		min-width  : 20%;
		padding    : 1%;
		background : inherit;
		position   : relative;
		>.image-box {
			position    : relative;
			width       : 100%;
			padding-top : 100%;
			.no-overflow;
		}
		>.profile-info {
			margin-top : 10px; 
			font-size  : @small-text;
			>.name { font-weight: 600; }
			>.handle { 
				color      : @text-grey; 
				margin-top : 5px; 
				font-size  : @small-text - 1;
			}
		}
		>.profile-link {
			display : block;
			z-index : 3;
			.position(absolute,4%,4%,4%,4%);
		}
	}
	
	.hover-text {.position(absolute)}

	.profile-pic {
		border-radius : 3px;
		height        : 64px;
		width         : 64px;
		border        : 1px solid #fff;
		z-index       : 2;
		.rounded-box(3px);
	}

	.blur-background {
		background-size     : cover;
		background-position : center;
		.filter(20px);
		.position(absolute,0,0,0,0);
	}
	.blur-content { 
		background : rgba(0,0,0,0.50);
		.position(absolute,0,0,0,0); 
		.rounded-box(3px); 
	}
}

@media (min-width: 1024px){
	#profiles-list >.profile { width: 20%; }
}