#side-nav-toggle { display: none; }
#side-nav {
	.position(absolute,0,0,0,0);
	width      : @side-nav-width;
	background : @grey;
	z-index    : 2;
	.transition();
	&::-webkit-scrollbar { display: none; } //hide scroll bar for side nav
}

#side-nav-head {
	.position(absolute,0,0,auto,0);
	background   : @primary-blue;
	color        : #fff;
	font-size    : @huge-text;
	font-weight  : bold;
	line-height  : @header-height;
	padding-left : 25px;
}

#user-info-box {
	.position(absolute,auto,0,0,0);
	background : @dark-grey;
	height     : @user-info-box-height;
	>.user-profile-pic { height: @user-info-box-height; }
	>.user-info { 
		padding-left : 10px; 
		line-height  : @big-text+2;
		max-width    : 130px;
	}
	.name { 
		color       : #fff; 
		height      : @regular-text + 2;
		line-height : @regular-text + 2;
	}
	.handle { 
		color       : @text-grey; 
		height      : @regular-text + 1;
		line-height : @regular-text + 1;
	}
	.user-menu-toggle {
		margin-top   : 24px; 
		color        : #fff;
		margin-right : 15px;
	}
}

#side-nav-wrapper {
	.position(absolute,0,0,0,0);
	margin     : @header-height 0 @user-info-box-height;
	padding    : 0 25px;
}

#user-menu {
	background : #fff;
	border     : 1px solid @border-grey;
	width      : 200px; 
	box-shadow : 0 2px 10px 2px rgba(24,14,23,0.5);
	.rounded-box;
	.transition(opacity);
	.position(absolute,-35px,-50%);
}

#logout-link {
	display         : block;
	padding         : 10px;
	color           : @dark-grey;
	text-decoration : none;
	&:hover { background-color: @dark-white; }
	.fa { margin-right: 10px; }
}

.side-nav-list {
	margin : 25px 0;	
	color  : @text-grey;
	>.side-nav-list-item {
		padding: 8px 0;
		&:first-of-type { padding-top: 0; } 
		&:last-of-type { padding-bottom: 0; } 
		&.list-header {
			.uppercased;
			font-size      : @tiny-text;
			color          : #4E5659;
			padding-bottom : 5px;	
		}
	}
	a.side-nav-link {
		text-decoration : none;
		color           : inherit;
		.transition(color);
		&.active,&:hover { color : #fff; }
	}
}

@media (max-width:@side-nav-break-width){
	#side-nav-toggle { 
		display: inline-block; 
		margin-right: 10px; 
	}
	#side-nav { left: -@side-nav-width; transform: translateX(0); }
	#application-container.side-nav-on #side-nav{ transform: translateX(@side-nav-width); }
}